@{
    ViewBag.Title = "Home Page";
}

<section id="page1">

    <div id="changingImage">
        <img class="active" src="" />
    </div>

    <div id="changingTitle">
        <p>Type of Clothing</p>
    </div>
</section>

<hr />

<section id="designs">
        <div class="imageSection">
            <img class="threeImages" src="" height="200" width="200" />
            <p class="threeTitles">Evening Dress</p>
        </div>
        <div class="imageSection">
            <img class="threeImages" src="" height="200" width="200" />
            <p class="threeTitles">Active Wear</p>
        </div>
        <div class="imageSection">
            <img class="threeImages" src="" height="200" width="200" />
            <p class="threeTitles">Urban Denim</p>
        </div>

</section>

<hr />